<h1>Добавить курс</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Name of the technique</label>
        <span class="helper-text" data-error="введите название"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Equipment price</label>
        <span class="helper-text" data-error="введите цену"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL of the image</label>
        <span class="helper-text" data-error="url картинки"></span>
    </div>
    
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea"></textarea>
        <label for="description">Technique Description</label>
    </div>
    
    <button class="btn btn-primary">Add a course</button>
</form>
